---
layout: default
title: "Nova Igreja Batista do Paraná"
---

{% assign items = site.data.negocio-solidario | sort: "data" | reverse %}

<div class="card-columns">
    {% for item in items %}
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ item.nome }}</h5>
            {% if item.produtos != '' %}
            <p class="card-text">{{ item.produtos | newline_to_br }}</p>
            {% endif %}
        </div>
        <ul class="list-group list-group-flush">
            {% if item.local != '' %}
            <li class="list-group-item">{{ item.local }} <a
                    href="https://www.google.com/maps/search/{{ item.local | escape }}" title="{{ item.local }}"
                    target="_blank" aria-label="ver no mapa"><i class="fas fa-map-marker-alt"></i></a></li>
            {% endif %}
            {% if item.telefone != '' %}
            <li class="list-group-item text-right">{{ item.telefone }}</li>
            {% endif %}
        </ul>
        <div class="card-body">
            {% if item.link != '' %}
            {% if item.link contains 'http' %}
            <a class="card-link" href="{{ item.link }}" title="{{ item.nome }}" target="_blank">{{ item.link }}</a>
            {% else %}
            {% if item.link contains 'www' %}
            <a class="card-link" href="http://{{ item.link }}" title="{{ item.nome }}"
                target="_blank">{{ item.link }}</a>
            {% else %}
            {{ item.link }}
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>