<script
  async
  defer
  src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"
  data-auto-replace-svg="nest"
  crossorigin="anonymous"
></script>

<script
  async
  defer
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>

<script async defer src="https://unpkg.com/@popperjs/core@2"></script>

<script
  async
  defer
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
