<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  {% include google-analytics.html %}

  {% seo %}

  <meta name="google-site-verification" content="zhq6pL8I2wHn2jcY_zar-EqSh7p3rCtYIas_AyQF_sY" />

  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-config" content="browserconfig.xml">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script type="text/javascript" src="{{ "/default.js" | absolute_url }}" defer></script>
</head>

<body>
  {% assign items = site.data.negocio-solidario | sort: "data" | reverse %}

  <script type="text/javascript">
    var items = [
      {% for item in items %}
        {
          "data": "{{ item.data | xml_escape }}",
          "nome": "{{ item.nome | xml_escape }}",
          "produtos": {{ item.produtos | strip_html | strip_newlines | jsonify }},
          "local": {{ item.local | strip_html | strip_newlines | jsonify }},
          "telefone": "{{ item.telefone | xml_escape }}",
          "entrega": "{{ item.entrega | xml_escape }}",
          "link": "{{ item.link | xml_escape }}",
          "ciente": "{{ item.ciente | xml_escape }}",
          "categoria": "{{ item.categoria | xml_escape }}",
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];
    //console.debug('items', items);
  </script>

  <style rel="stylesheet">
    .form-control-borderless {
      border: none;
    }

    .form-control-borderless:hover,
    .form-control-borderless:active,
    .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }

    html,
    body {
      height: 100%;
    }

    #sticky-footer {
      flex-shrink: none;
    }
  </style>

  {% include header.html %}

  <div class="container-fluid">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ATENÇÃO!</strong> Qualquer produto ou serviço comprado de qualquer fornecedor divulgado nesta página é
      um negócio realizado exclusivamente entre <em>comprador</em> e <em>fornecedor</em>, <strong>não gerando qualquer responsabilidade</strong> para a
      Nova Igreja Batista do Paraná.
      <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div id="categories">
    </div>

    <a name="search"></a>
    <div class="row justify-content-center" style="margin-bottom: 1rem;">
      <div class="col-12">
        <div class="card border-secondary mb-3">
          <div class="card-body row no-gutters align-items-center">
            <div class="col">
              <input id="search-box" name="query" class="form-control form-control-lg form-control-borderless"
                type="search" placeholder="Pesquise nome ou produtos de {{ items.size }} negócios cadastrados" aria-label="Pesquise por nome ou produtos">
            </div>
            <div class="col-auto">
              <button id="pesquisar" class="btn btn-lg btn-success" type="button"><i class="fas fa-search"></i> Pesquisar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}
  </div>

  {% include footer.html %}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
  integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>