<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  {% include google-analytics.html %}

  {% seo %}

  <link rel="manifest" href="manifest.json">

  <script type="text/javascript" src="{{ "/assets/js/lunr.min.js" | absolute_url }}" defer></script>
  <script type="text/javascript" src="{{ "/default.js" | absolute_url }}" defer></script>
</head>

<body>
  {% assign items = site.data.negocio-solidario | sort: "data" | reverse %}

  <script type="text/javascript">
    window.store = {
      {% for item in items %}
        "{{ item.nome | slugify }}": {
          "data": "{{ item.data | xml_escape }}",
          "nome": "{{ item.nome | xml_escape }}",
          "produtos": {{ item.produtos | strip_html | strip_newlines | jsonify }},
          "local": {{ item.local | strip_html | strip_newlines | jsonify }},
          "telefone": "{{ item.telefone | xml_escape }}",
          "entrega": "{{ item.entrega | xml_escape }}",
          "link": "{{ item.link | xml_escape }}",
          "ciente": "{{ item.ciente | xml_escape }}"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
    //console.debug('window.store', window.store);

    items = {{ items | jsonify }};
    //console.debug('items', items);
  </script>

  <style rel="stylesheet">
    .form-control-borderless {
      border: none;
    }

    .form-control-borderless:hover,
    .form-control-borderless:active,
    .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }

    html,
    body {
      height: 100%;
    }

    #sticky-footer {
      flex-shrink: none;
    }
  </style>

  <nav class="navbar navbar-dark bg-primary">
    <!--<span class="navbar-text">Se tiverem amor uns pelos outros, todos saberão que vocês são meus discípulos. <strong>João 13:35</strong></span>//-->
    <span class="navbar-text">Portanto, enquanto temos oportunidade, façamos o bem a todos, especialmente aos da família
      da fé. <strong>Gálatas 6:10</strong></span>
  </nav>

  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4">Negócio Solidário</h1>
      <!--
      <p class="lead">A Nova Igreja Batista do Paraná, em seu esforço para cooperar no combate ao avanço da Covid-19,
        mas também sensível à realidade das famílias que perderam total ou parcialmente suas fontes de renda, criou
        este formulário para que a comunidade tenha acesso à informação de irmãos e irmãs que podem fornecer
        qualquer tipo de produto ou serviço do qual estejam necessitando.</p>
      <hr class="my-4">
      <p>A Nova Igreja Batista (NIB) do Paraná em Cascavel é uma igreja para toda a família, que acredita na alegria
        de ser cristão e no prazer de compartilhar essa alegria com outras pessoas, para que recebam a Palavra de
        Deus, amor e salvação em Cristo.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.nibparana.org/" rel="alternate" role="button">Conheça a NIB
          Paraná</a>
      </p>
      //--!>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ATENÇÃO!</strong> Qualquer produto ou serviço comprado de qualquer fornecedor divulgado nesta página é
      um negócio realizado exclusivamente entre comprador e fornecedor, não gerando qualquer responsabilidade para a
      Nova Igreja Batista do
      Paraná.
      <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <a name="search"></a>
    <div class="row justify-content-center" style="margin-bottom: 1rem;">
      <div class="col-12">
        <form class="card card-sm" action="{{ "/search.html#search" | absolute_url }}" method="get">
          <div class="card-body row no-gutters align-items-center">
            <div class="col">
              <input id="search-box" name="query" class="form-control form-control-lg form-control-borderless"
                type="search" placeholder="Pesquise nome ou produtos de {{ items.size }} negócios cadastrados" aria-label="Pesquise por nome ou produtos">
            </div>
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    {{ content }}
  </div>

  {% include footer.html %}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
  integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>