<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  {% include google-analytics.html %}

  {% seo %}

  <meta name="google-site-verification" content="zhq6pL8I2wHn2jcY_zar-EqSh7p3rCtYIas_AyQF_sY" />

  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-config" content="browserconfig.xml">

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script type="text/javascript" src="{{ "/default.js" | absolute_url }}" defer></script>
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <!--<span class="navbar-text">Se tiverem amor uns pelos outros, todos saberão que vocês são meus discípulos. <strong>João 13:35</strong></span>//-->
    <span class="navbar-text">Portanto, enquanto temos oportunidade, façamos o bem a todos, especialmente aos da família
      da fé. <strong>Gálatas 6:10</strong></span>
  </nav>

  <div class="container-fluid">
    {{ content }}
  </div>

  {% include footer.html %}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
  integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>